body {
    font: 15px/1.5 arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow:hidden;
}

#header {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #33ccff 0%, #3333cc 100%);
    text-align: center;
    color: white;
}

#header h1 {
    margin: 0;
    line-height: 50px;
}

#video-aktif {
    height: 400px;
    text-align: center;
    background: #34495e;
}

#video-aktif h1 {
    margin: 0;
    line-height: 400px;
}

#nomor-aktif {
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, #f1c40f 0%, #f39c12 100%); 
}

#nomor-aktif h1 {
    background: linear-gradient(to right, #ee7919 0%, #b8580b 100%);
    text-align: center;
    /* border: 1px solid #6F1E51; */
}

.antrian-aktif {
    height: 350px;
    line-height: 350px;
    text-align: center;
    /* border: 1px solid #33ccff; */
}

#loket {
    width: 100%;
    height: 290px;
    background: linear-gradient(to right, #9b59b6 0%, #8e44ad 100%);
}

#loket h3 {
    background: linear-gradient(to right, #833471 0%, #6F1E51 100%);
    border: 1px solid #6F1E51;
    text-align: center;
}

.loket-nomer {
    height: 200px;
    line-height: 200px;
    text-align: center;
    /* border: 1px solid #3333cc; */
}

.loket-nomer span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.melengkung {
  border-radius: 6px;
}



  .teks-besar {
      font-size: 80pt;
  }
