html,body {
    font: 15px/1.5 arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    height: 100vhm;
    width: 100vhm;
    overflow: hidden;
}

header {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #33ccff 0%, #3333cc 100%);
    text-align: center;
    color: white;
}

.section-top {
    height: 395px;
    display: flex;
}

.video-info {
    width: 63%;
}

.active-number {
    width: 35%;
    background: linear-gradient(to right, #f1c40f 0%, #f39c12 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-info, .active-number {
    padding: 0;
    margin: 5px;
    border-radius: 5px;
}

.active-number h1 {
    font-size: 10rem;
    color: whitesmoke;
}

.loket {
    height: 215px;
    width: 24%;
    background: linear-gradient(to right, #9b59b6 0%, #8e44ad 100%);
    margin: 6px 6px 0 6px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #cccccc;
}

marquee {
    font-size: 25px;
}